@charset "UTF-8";

html {
    background-color: #f2f2f2;
}

.XXW-t-a-c {
    text-align: center;
}

.XXW-a {
    color: #029789 !important;
}

.XXW-f-r {
    float: right;
}

.XXW-l-h-38 {
    line-height: 38px;
}

.XXW-p-l-0 {
    padding-left: 0;
}

.XXW-container {
    margin-top: 60px;
}

.XXW-header {
    padding: 10px;
}

.XXW-header h2 {
    font-size: 30px;
    margin-block-end: 10px;
}

.XXW-header p {
    color: #999;
}

.XXW-form {
    margin: 0 auto;
    width: 290px;
}

.XXW-input-inline {
    width: 100% !important;
}

.XXW-user-login-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 38px;
    line-height: 36px;
    text-align: center;
    color: #d2d2d2;
}

.XXW-form-item {
    height: 38px;
    position: relative;
}

.XXW-form-item input {
    padding-left: 38px;
}

.XXW-ThirdParty-login a i {
    font-size: 26px;
}

.XXW-ThirdParty-login-label {
    display: inline-block;
    vertical-align: middle;
    margin-top: -13px;
}

.XXW-patchca {
    padding-left: 5px;
}

.XXW-patchca-img {
    height: 38px;
    width: 100%;
    cursor: pointer;
}

.XXW-form-item input::-webkit-input-placeholder {
    color: #d2d2d2;
}
