@charset "UTF-8";

html {
    background-color: #f2f2f2;
}

.XXW-t-a-c {
    text-align: center;
}

.XXW-a {
    color: #029789 !important;
}

.XXW-f-r {
    float: right;
}

.XXW-l-h-38 {
    line-height: 38px;
}