@charset "UTF-8";

html {
    background-color: #f2f2f2;
}

.XXW-container {
    margin-top: 60px;
}

.XXW-form {
    margin: 0 auto;
    width: 310px;
}

.XXW-form-item {
    width: 310px;
}

.XXW-form-label {
    width: 45px;
}

.XXW-patchca {
    padding: 0 5px;
}

.XXW-login {
    text-align: center;
}

.XXW-input-inline input {
    width: 98%;
}

.XXW-patchca-img {
    height: 36px;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    .XXW-input-inline {
        margin: 0 15px 10px 80px !important;
    }

}
