@charset "UTF-8";

html {
    background-color: #f2f2f2;
}

.XXW-container {
    margin-top: 60px;
}

.XXW-form {
    margin: 0 auto;
    width: 310px;
}

.XXW-form-item {
    width: 310px;
}

.XXW-form-label {
    width: 56px;
}

.XXW-patchca {
    padding: 0 5px;
}

.XXW-login {
    text-align: center;
}

.XXW-login button {
    width: 200px;
}

.XXW-input-inline {
    width: calc(100% - 96px) !important;
    height: 38px;
    line-height: 38px;
}

.XXW-input-inline input {
    width: 98%;
}

.XXW-patchca-img {
    height: 36px;
    width: 100%;
    cursor: pointer;
}

.XXW-forget {
    float: right;
    line-height: 38px;
}

.XXW-forget a, .XXW-ThirdParty-login-r a {
    color: #029789 !important;
}

.XXW-ThirdParty-login {
    height: 38px;
}

.XXW-ThirdParty-login-a {
    float: left;
}

.XXW-ThirdParty-login-r {
    line-height: 38px;
}

.XXW-ThirdParty-login-a i {
    font-size: 26px;
}

.XXW-ThirdParty-login-r {
    float: right;
}

@media screen and (max-width: 450px) {

    .XXW-input-inline {
        margin: 0 15px 10px 80px !important;
    }

}
