<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.xuxiaowei.springbootsecurity.mapper.WeChatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.xuxiaowei.springbootsecurity.entity.WeChat">
        <id column="we_caht_id" property="weCahtId" />
        <result column="openid" property="openid" />
        <result column="unionid" property="unionid" />
        <result column="nickname" property="nickname" />
        <result column="sex" property="sex" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="country" property="country" />
        <result column="headimgurl" property="headimgurl" />
        <result column="privilege" property="privilege" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="deleted" property="deleted" />
        <result column="remarks" property="remarks" />
    </resultMap>

</mapper>
